// Set Border Box as default
*
  +box-sizing(border-box)

// Grid Container
.container
  +container
  +grid-padding
  min-width: 10em
  max-width: 40em

// Grids
.grid,
.grid-reverse,
.grid-center
  +grid

.grid-reverse
  text-align: $reverse-direction

.grid-center
  text-align: center

.grid > .grid
  overflow: hidden
  margin-right: 0
  margin-left: 0

// Grid Units
.unit
  +unit

.center
  +center